.DS_Store
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/
data/
runs/
outputs/

# Model checkpoints
*.pth
*.pt

# Experiment tracking
.wandb/

# Type checking and testing
.mypy_cache/
.pytest_cache/
.coverage
